<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">  
  <ion-list>  

    <ion-item>  
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Jone</ion-label>
      <ion-label>0101950109</ion-label>
    </ion-item>         
    
    <ion-item>  
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Moller</ion-label>
      <ion-label>0100365855</ion-label>

    </ion-item>   

    <ion-item>  
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Mohamed</ion-label>
      <ion-label>0111198756</ion-label>


    </ion-item>   

    <ion-item>  
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Sara</ion-label>
      <ion-label>0127705987</ion-label>

    </ion-item>   

  </ion-list>  
</ion-content>  