<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inbox</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="light">  
  <ion-list>  

    <ion-item>  
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>David</ion-label>
      <ion-label>hi,how are you??</ion-label>
    </ion-item>         
    
    <ion-item>  
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Hary</ion-label>
      <ion-label>the number is availble now..</ion-label>

    </ion-item>   

    <ion-item>  
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Ahmed</ion-label>
      <ion-label>good morining!!....</ion-label>


    </ion-item>   

    <ion-item>  
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Jasmine</ion-label>
      <ion-label>Please call me .....</ion-label>

    </ion-item>   


    <ion-item>  
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>National bank</ion-label>
      <ion-label>the verified code is ...... </ion-label>

    </ion-item>   


    <ion-item>  
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Orange</ion-label>
      <ion-label>You are suscribed in internet ......</ion-label>

    </ion-item>   

  </ion-list>  
</ion-content>  
